{
  "development": {
    "dialect": "sqlite",
    "storage": "./db.development.sqlite",
    "logging": false
  },
  "test": {
    "username": "{{ db_user }}",
    "password": "{{ db_pass }}",
    "database": "{{ db_name }}",
    "host": "{{ aws_rds_endpoint }}",
    "dialect": "{{ db_dialect }}"
  },
  "production": {
    "username": "root",
    "password": null,
    "database": "database_production",
    "host": "127.0.0.1",
    "dialect": "mysql"
  }
}
